body {
   background-color: powderblue;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  );
  
}


html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
  background-image: url("https://media.istockphoto.com/id/1328395223/vector/emoticon-icon-set.jpg?s=612x612&w=0&k=20&c=_D-0FYS-YEv_MUe86tgG_CjYAzbAoeq1EgLf_vBs_9w=");
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(148, 71, 71);
  
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}



h2{
  color: black;

}

#start{
  text-align: left;
}

#end{
  text-align: right;
}